@media (max-width: 1000px) {
header a {
    text-decoration: none;
    font-size: 12px;
    color: rgb(80, 102, 131, 0.9);
    font-weight: 500;
}
.divb {
    grid-template-columns: 4fr 1fr 2fr;
    justify-content: space-between;
    margin-right: -20px;
}
header button {
    font-size: 11px;
    max-width: 75%;
    padding: 8px 5px;
    font-weight: 800px;
}
.divb h3 {
    font-size: 12px;
}
header .img2 {
    width: 17px;
}
.heropage {
    background-color:  rgb(236, 232, 217);
    min-height: 70vh;
}
.cards {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 50px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.cardA {
    width: 70%;
    margin-left: 18px;
}
.cardA h4 {
    font-size: 20px;
}
.cardA a {
    transform: translateX(120px);
    font-size: 20px;
}
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.testimonials1 {
    display: grid;
    grid-template-columns: 50px auto;
    max-width: 800px;
    padding-left: 10px;
}
.counts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
}
 @media (min-width: 550px) {
     .hero2 {
        background-image: url(./printivobackground.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
     }
}
@media (max-width: 600px) {
    .cards {
    padding: 20px 20px;
    display: grid;
    width: 300px;
    margin: auto;
    grid-template-columns: 1fr;
    gap: 20px;
}
.cardA {
    width: 70%;
    margin-left: 18px;
}
.cardA h4 {
    font-size: 16px;
}
.cardA a {
    transform: translateX(70px);
}
.shadow-sm {
    margin-bottom: 20px;
}
.diva {
    display: none;
}
.divb {
    grid-template-columns: 2fr 1fr 1fr;
    width: 200%;
    padding-left: 40px;
}
.clients p {
    font-size: 18px;
    width: 420px;
    line-height: 30px;
}
.testimonial h2 {
    font-size: 28px;
}
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.testimonials1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    max-width: 500px;
    padding-left: 10px;
}
.hero1b {
    display: none;
}
.hero1c {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 12px;
    margin-left: 20px;
    width: 250px;
}
.counts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
}