@media (max-width: 950px) and (min-width: 601px) {
header a {
    font-size: 12px;
    font-weight: 500;
}
header div {
    padding: 20px;
}
.divb {
    grid-template-columns: 4fr 1fr 2fr;
}
header button {
    font-size: 11px;
    width: 100px;
    padding: 8px 5px;
    font-weight: 800px;
}
.divb h3 {
    font-size: 12px;
}
header .img2 {
    width: 17px;
}
.heropage {
    background-color:  rgb(236, 232, 217);
    min-height: 70vh;
}
.hero1 {
    display: grid;  
    grid-template-columns: 330px 1fr;  
    padding: 30px 25px 80px 60px;
    align-items: center;
    position: sticky;
    overflow: hidden;
}
.hero1b {
    display: none;
}
.hero1c {
    justify-content: right;
    align-items: center;
}
.img1 {
    width: 135px;
}
.hero1a {
    margin-left: -20px;
    margin-right: 10px;
}
.cards {
    margin-bottom: 20px;
    padding: 20px 50px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.cardA {
    width: 90%;
}
.cardA h4 {
    font-size: 24px;
}
.cardA a {
    font-size: 18px;
}
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.testimonials1 {
    display: grid;
    grid-template-columns: 50px auto;
    max-width: 800px;
    padding-left: 10px;
}
.counts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
}
 @media (min-width: 601px) {
     .hero2 {
        background-image: url(./printivobackground.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
     }
}
@media (max-width: 600px) {
    .cards {
    padding: 20px 20px;
    display: grid;
    width: 300px;
    margin: auto;
    grid-template-columns: 1fr;
    gap: 20px;
}
header button {
    font-size: 12px;
    width: 100px;
    padding: 8px 5px;
    font-weight: 800px;
}
header .span1 {
    display: none;
}
.heropage {
    grid-template-rows: 30px 1fr;
    padding-top: 90px;
}
.cardA {
    width: 100%;
}
.cardA h4 {
    font-size: 22px;
    margin-left: -10px;
}
.cardA a {
    font-size: 18px;
    margin-right: 20px;
}
.cards {
    margin-bottom: 20px;
    padding: 20px 50px;
    min-height: 300px;
    display: grid;
    grid-template-rows: 1fr;
    gap: 30px;
    width: 90%;
}
.shadow-sm {
    margin-bottom: 20px;
}
.diva {
    display: none;
}
.divb {
    grid-template-columns: 2fr 1fr 1fr;
    width: 200%;
    padding-left: 40px;
}
.clients p {
    font-size: 18px;
    width: 400px;
    line-height: 30px;
}
.clients h2,
.testimonial h2 {
    font-size: 26px;
}
.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.testimonials1 {
    display: grid;
    grid-template-columns: 50px 1fr;
    max-width: 500px;
    padding-left: 10px;
}
.hero1 {
    display: grid;  
    grid-template-columns: 280px 1fr;  
    align-items: center;
    overflow: hidden;
}
.hero1b {
    display: none;
}
.hero1c {
    align-items: center;
    width: 200px;
}
.counts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero1a {
    transform: translateX(-16px);
}
.hero2 h1 {
    font-size: 35px;
    font-weight: 700;
}
.hero2 p button {
    font-size: 16px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 28px;
    background-color: white;
}
.hero2 form {
    width: 100%;
}
.hero2 {
    margin-left: -20px;
}
.create {
    display: none;
}
.countA {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}
.directories {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.directories4 .fa,
.directories4 img {
    width: 40%;
    overflow: hidden;
}
.notices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 88%;
    padding: 20px;
    margin: auto;
}
.noticeb img {
    height: 21px;
}
.noticeb a {
    color: black;
    font-size: 16px;
}
.noticeb {
    width: 173px;
    margin-top: 20px;
}
.notice h2 {
    margin: 0 0 20px 48px;
    font-size: 30px;
}
}
